@{
    ViewData["Title"] = "Welcome Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Mechanic Shop</h1>
    <p>
        My name is Tomi, your mechanic who not only repairs your car, but does it in a transparent way. You can forget about calling for hours and waiting for me to call you back. You can check on your car with a special code I hand to you when you take your car here.
        This way you can easily track what is happening and how much is it going to cost you!
        No more shadyness.
    </p>
</div>
<div class=" text-center">
    <input type="text" id="code" name="code" value="Enter your code here!" />
    <button type="button" id="SubmitCode" name="SubmitCode">Submit!</button>
</div>